body {
  height: 100%;
  position: relative;
  margin: 0;
  color: var(--text-color);

  background: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Circularstd";
  font-size: 48px;
  color: black;
  background: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  padding-left: 18px;
  list-style-type: disc;
}

p {
  margin: 0;
  padding: 0;
}
