* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  @media screen and (max-width: 3000px) {
    font-size: 56%;
  }
  @media screen and (max-width: 2600px) {
    font-size: 40%;
  }
  @media screen and (max-width: 2000px) {
    font-size: 35%;
  }
  @media screen and (max-width: 1920px) {
    font-size: 30%;
  }
  @media screen and (max-width: 1650px) {
    font-size: 26%;
  }
  @media screen and (max-width: 1400px) {
    font-size: 24%;
  }
  @media screen and (max-width: 1200px) {
    font-size: 20%;
  }
  @media screen and (max-width: 992px) {
    font-size: 30%;
  }
}
body {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow: hidden;
  font-family: system-ui, -apple-system, sans-serif;
}
.tv-container {
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  padding: 4.8rem;
}

.main-content {
  display: flex;
  gap: 4.8rem;
  flex: 1;
  min-height: 0;
}
@media screen and (max-width: 992px) {
  body {
    overflow: auto;
    height: auto;
  }
  .main-content {
    flex-direction: column;
  }
}
