.grid-section {
  flex: 1;
  display: grid;
  grid-auto-rows: 1fr;
}
.grid-item {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.grid-item.grid-item--1 {
  background: #16a34a;
}
.grid-item.grid-item--0 {
  background: #dc2626;
}
.item-date {
  font-size: 6.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.item-text,
.sidebar-item {
  font-size: 3.6rem;
  line-height: 1.3;
}
.item-text {
  text-align: center;
}
@media screen and (max-width: 992px) {
  .grid-section {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
}
