.sidebar {
  width: 36%;
  flex-shrink: 0;
  display: grid;
  grid-auto-rows: auto;
  align-content: start;
}
.sidebar-item {
  background: #fef3c7;
  border-radius: 0.5rem;
  padding: 3.2rem;
  display: flex;
  align-items: flex-start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  min-height: fit-content;
}
.sidebar,
.grid-section {
  gap: 1.6rem;
}
.grid-item,
.sidebar-item {
  border-radius: 3.2rem;
}
.sidebar-text {
  flex: 1;
}
@media screen and (max-width: 992px) {
  .sidebar {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
}
